# triplestore URL
serviceURL = http://turbo-prd-db01.pmacs.upenn.edu:7200/
# username/password for triplestore
username = your_username
password = your_password
# repository names
medications_repository = medication-knowledgegraph
diagnoses_repository = diagnosis-knowledgegraph
ontology_repository = TurboOntology
medMap_ontology_repository = MedicationMappingOntology
# solr
solrURL = http://turbo-prd-app02:8983/
solrCollection = medication-employment-labels